<script>
    function copyLink() {
        var msg = "Link copied!"
        var cl = document.getElementById("copylink");
        var pl = document.getElementById("pagelink");
        navigator.clipboard.writeText(pl.href);
        cl.innerHTML = "Link copied";
        setTimeout(function () {
            cl.innerHTML = "Copy link";
        }, 3000);
    }
</script>

<span style="color: silver;">
    <a href="{{page.url}}" id="pagelink"></a><p id="copylink" onclick="copyLink()">Copy link</p>
</span>